* {
  font-family: Helvetica, Arial, sans-serif;
  background-color: aliceblue;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: black;
  color: brown;
  border-radius: 15px;
  padding: 200px;
}
h1 {
  background-color: black;
  color: yellow;
}
.subTotal {
  margin-top: 10px;
  background-color: black;
  color: white;
  font-size: 30px;
}
.valorAPagar {
  background-color: black;
  color: white;
  margin: 30px;
  font-size: 30px;
}
.botones {
  background-color: black;
}
.buttonSuma {
  background-color: red;
  margin-left: 60px;
  padding: 13px;
  border-radius: 10px;
}
.buttonReset {
  background-color: white;
  color: black;
  padding: 13px;
  border-radius: 10px;
}
.result {
  background-color: black;
  font-size: 50px;
  color: green;
}

.containerButton {
  background-color: black;
}
.gray {
  background-color: #505050;
  color: white;
  padding: 20px;
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.white {
  background-color: #505050;
  color: white;
  padding: 10px;
}
